class DetailPage extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text('Detail'),
        leading: IconButton(
          icon: Icon(Icons.arrow_back),
          onPressed: () => Navigator.pop(context),
        ),
      ),
      body: Padding(
        padding: const EdgeInsets.all(16),
        child: Column(
          children: [
            Image.network('https://via.placeholder.com/150'), // ganti dengan image asset jika perlu
            SizedBox(height: 16),
            buildDetail('Title', 'Beli Baju'),
            buildDetail('Jenis', 'Pengeluaran'),
            buildDetail('Tanggal', '27 Mei 2025'),
            buildDetail('Jumlah', '70.000'),
            buildDetail('Deskripsi', 'Beli baju di Tunjungan'),
          ],
        ),
      ),
    );
  }

  Widget buildDetail(String label, String value) {
    return Column(
      crossAxisAlignment: CrossAxisAlignment.start,
      children: [
        Text('$label :'),
        Container(
          width: double.infinity,
          margin: EdgeInsets.symmetric(vertical: 6),
          padding: EdgeInsets.all(12),
          decoration: BoxDecoration(
            color: Colors.teal[300],
            borderRadius: BorderRadius.circular(8),
          ),
          child: Text(value, style: TextStyle(color: Colors.white)),
        ),
      ],
    );
  }
}
